.logo
{
    font-size: xx-large;
    font-weight: bolder;
    margin-left: 10%;
    color: grey;
    
}
.menu
{
    height: 8vh;
    width: 100%;
    box-shadow: 1px 1px 10px 1px;
    margin-top: 5px;
    background-color: yellow;
}
li
{
    list-style: none;
    float: left;
    width: 1%;
    margin-left: 10%;
    margin-top: 1%;
}
.menu li:hover {
    background-color: yellowgreen;
}
.keyword
{
line-height: 5vh;
width: 20%;
float: left;
margin-top: 8px;
margin-left: 20%;
background-color: lightgoldenrodyellow;
color: black;

}
.top
{
margin-top: 30px;

height: 20vh;
width: 100%;
overflow: hidden;
}
p,h1{
margin-left: 8%;
margin-right: 8%;
margin-top: .3%;


}
.middle
{
height: 110vh;
width: 100%;
}    
.box1{
height: 45vh;
width: 30%;
float: left;
margin-right: 20px;
margin-left: 55px;

}

.boxm1{
height:25vh ;
width: 100%;
background-image: url(img/1.jpeg);
background-size: 100% 100%;
}

.boxn1{
height: 19.5vh;
width: 100%;
box-shadow: 1px 1px 10px 1px grey;
margin-top: 5px;
}

.box2{
height: 45vh;
width: 30%;
float: left;
margin-right: 20px;

}
.boxm2{
height:25vh ;
width: 100%;
background-image: url(img/2.jpeg);
background-size: 100% 100%;
}

.boxn2{
height: 19.5vh;
width: 100%;
box-shadow: 1px 1px 10px 1px grey;
margin-top: 5px;
}
.box3{
height: 45vh;
width: 30%;
float: left;
margin-right: 20px;

}
.boxm3{
height:25vh ;
width: 100%;
background-image: url(img/3.jpeg);
background-size: 100% 100%;
}

.boxn3{
height: 19.5vh;
width: 100%;
box-shadow: 1px 1px 10px 1px grey;
margin-top: 5px;
}

.box4{
height: 45vh;
width: 30%;
margin-right: 20px;
float: left;
margin-top: 10px;
margin-left: 55px;

}
.boxm4{
height:25vh ;
width: 100%;
background-image: url(img/4.jpeg);
background-size: 100% 100%;
}

.boxn4{
height: 19.5vh;
width: 100%;
box-shadow: 1px 1px 10px 1px grey;
margin-top: 5px;
}
.box5{
height: 45vh;
width: 30%;
float: left;
margin-right: 20px;
margin-top: 10px;

}
.boxm5{
height:25vh ;
width: 100%;
background-image: url(img/5.jpeg);
background-size: 100% 100%;
}

.boxn5{
height: 19.5vh;
width: 100%;
box-shadow: 1px 1px 10px 1px grey;
margin-top: 5px;
}
.box6{
height: 45vh; 
width: 30%;
float: left;
margin-right: 20px;
margin-top: 10px;


}
.boxm6{
height:25vh ;
width: 100%;
background-image: url(img/6.jpeg);
background-size: 100% 100%;
}

.boxn6{
height: 19.5vh;
width: 100%;
box-shadow: 1px 1px 10px 1px grey;
margin-top: 5px;
}
.right{
height: 5vh;
width: 10%;
margin-left: 88%;
background-color: red;
color: white;
font-size: 15px;
margin-top: -4%;
text-align: center;
line-height: 28px;
}
.footer{
width: 100%;
background-color: yellow;
height: 40vh;
}
.foot1{
height: 40vh;
width: 24%;
float: left;
margin-left:1.5%;

}
.foot2{
height: 40vh;
width: 24%;
float: left;
}
.foot3{
height: 40vh;
width: 24%;
float: left;

}
.foot4{
height: 40vh;
width: 24%;
float: left;
}
p{
font-weight: bold;
}
h3{
text-align: center;
font-family: 'Courier New', Courier, monospace;
}